/* ------------------ *\
      TODO: Global
\* ------------------ */
* {
  box-sizing: border-box;
  position: relative;
  /* border:.5px solid; */
}

.container {
  /* border-left: 1px solid aqua;
  border-right: 1px solid aqua; */
}
.row {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

nav .nav-item:after {
  content: '';
  width: 0%;
  height: 4px;
  background-color: yellow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.2s ease-out;
}
nav .nav-item:hover.nav-item:after {
  width: 100%;
}
.infoPage {
  position: absolute;
  z-index: 10;
  top: -15%;
  left: 50%;
  transform: translate(-50%,0%);
  background-color: #fff;
}
.card {
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3) !important;
}

@media screen and (max-width: 992px) {
  nav .nav-item:hover.nav-item:after {
    width: 15% !important;
  }

  .infoPage {
    position: relative !important;
    z-index: 0 !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0%) !important;
  }

  #aboutBg, #realCartBg, #NFTCartBg, #productBg {
    height: 20vh !important;
  }

  #about, #realCart, #NFTCart, #product {
    height: auto !important;
  }
}

/* ------------------ *\
      TODO: index
\* ------------------ */
#banner {
  background-image: url('./img/title-Bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#banner .title {
  font-size: 5rem;
}

#news table {
  width: 100%;
}
#news tr {
  transition: 0.3s;
}
#news tr:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#feature {
  background-color: rgb(232, 232, 232);
}
#feature .para {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 200px;
  max-height: 100%;
}
#feature .featureBg-1 {
  background-image: url('./img/feature-Bg-01.png');
}
#feature .featureBg-2 {
  background-image: url('./img/feature-Bg-02.png');
}
#feature .featureBg-3 {
  background-image: url('./img/feature-Bg-03.png');
}

#info * {
  /* border: 1px solid; */
}
#info .fa-brands {
  font-size: 100px;
}
#info .fa-facebook {
  color: rgb(0, 106, 255);
}
#info .fa-discord {
  color: rgb(61, 43, 255);
}

/* ------------------ *\
      TODO: About
\* ------------------ */
#aboutMain {
  background-color: rgb(232, 232, 232);
}
#aboutBg {
  background-image: url('./img/2022-04-22_02.45.39.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#about {
  height: 100vh;
}

/* ------------------ *\
    TODO: Real Cart
\* ------------------ */
#realCartMain {
  background-color: rgb(232, 232, 232);
}
#realCartBg {
  background-image: url('./img/2022-04-22_02.32.36.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#realCart {
  height: 100vh;
}
#realCart .col {
  display: flex;
  justify-content: center;
}

/* ------------------ *\
    TODO: NFT Cart
\* ------------------ */
#NFTCartMain {
  background-color: rgb(232, 232, 232);
}
#NFTCartBg {
  background-image: url('./img/2022-04-22_02.32.36.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#NFTCart {
  height: 100vh;
}
#NFTCart .col {
  display: flex;
  justify-content: center;
}

/* ------------------ *\
    TODO: product
\* ------------------ */
#productMain {
  background-color: rgb(232, 232, 232);
}
#productBg {
  background-image: url('./img/2022-04-22_02.33.39.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#product {
  height: 100vh;
}

/* ------------------ *\
      TODO: footer
\* ------------------ */
footer {
  background-image: url('img/footer-Bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}